/* Definición de variables personalizadas */
:root {
    --font-family: 'Arial', sans-serif;  /* Fuente principal */
    --primary-color: #fff;               /* Color principal */
    --secondary-color: #ffd700;          /* Color secundario */
    --background-color: #f2f2f2;        /* Color de fondo */
    --box-shadow-color: rgba(0, 0, 0, 0.1);  /* Color de sombra */
    --text-color: #333;                 /* Color de texto principal */
    --link-color: #42caff;              /* Color de enlaces */
    --hover-color: #e81aff;             /* Color de hover */
    --headfoot-background: #333;        /* Color de encabezado/pie de página */
}

/* Estilos generales del body */
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    margin-top: 0;
    scroll-behavior: smooth;
}

/* Estilos para las secciones generales */
section {
    padding: 50px 0;
    text-align: center;
    background-color: var(--background-color);
    padding: 5vw;
}

/* Contenedor general */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Estilos del encabezado */
header {
    scroll-behavior: smooth;
    position: fixed;
    top: 0;
    width: 100%;
    color: var(--primary-color);
    padding: 20px 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 1s ease;
    align-items: center;
}

/* Título principal */
.title {
    font-size: 2vw;
    margin-left: 2%;
    align-items: center;
}

/* Menú de navegación */
.menu__nav {
    display: flex;
    justify-content: center;
    margin-right: 2%;
}

/* Ocultar elementos del menú en el toggle */
.menu--toggle--label,
.menu--toggle--input {
    display: none;
}

/* Estilos de la lista de navegación */
.menu__nav__list {
    list-style: none;
    display: flex;
}

/* Estilos de los enlaces del menú */
.menu__nav__list__link {
    margin-right: 20px;
}

.menu__nav__list__link a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.2vw;
    transition: color 0.3s ease;
}

.menu__nav__list__link a:hover,
.footer--nav ul a:hover {
    color: var(--secondary-color);
}

/* Estilos de la sección Hero */
.hero {
    background-image: url(../Src/Img/hero-bg.jpg);
    background-size: cover;
    color: var(--primary-color);
    padding: 50px 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Estilos específicos del contenido del Hero */
.hero--content {
    margin-top: 10%;
}

.hero--image {
    margin-top: 5%;
}


.hero--content--name {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero--content--profession {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.hero--content--github img{
    width: 5vw;
    height: 5vw;
    margin-top: 3%;
    transition: all 0.5s ease;
}

.hero--content--github img:hover{
    width: 7vw;
    height: 7vw;
    
    margin-top: 2%;
}

.hero--image img {
    width: 40vw;
    height: auto;
}


/* Estilos de la sección aboutme */
.aboutme--container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: end;
    padding-left: 10vw;
    padding-right: 10vw;
}

.aboutme--image img{
    width: 30vw;
}

.aboutme--title {
    font-size: 2em;
    margin-bottom: 20px;
}

.aboutme--text {
    font-size: 1.2vw;
    line-height: 1.6;
    text-justify: newspaper;
    text-align: justify;
}

.aboutme--content {
    padding-right: 15%;
}

.aboutme--content h3{
    font-size: 3vw;
    text-align: center;
}

.aboutme--content h3 span{
    font-size: 4vw;
    color: var(--secondary-color);
    text-shadow: 1px 1px 1px var(--headfoot-background);
}

/* Estilos comunes de las secciones Works y Services */
.works--item,
.services--item {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px var(--box-shadow-color);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.works--item:hover,
.services--item:hover {
    transform: scale(1.05);
}

.works--item--description,
.services--item--description {
    opacity: 0;
    text-align: center;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
}

.works--item:hover .works--item--description,
.services--item:hover .services--item--description {
    opacity: 1;
}

.services--list, .works--list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilos de la sección works */
.works--item img {
    width: 120%;
    margin-left: -10%;
    margin-top: -7%;
    transition: filter 0.5s ease;
}

.works--item--img:hover img {
    filter: brightness(70%); 
}

/* Estilos de la sección Services */
.services--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 0;
}

.services--item--img {
    flex-grow: 2;
}

.services--item--description {
    flex-grow: 1;
    text-align: justify;
    padding: 3px;
}

.services--item--img img{
    width: 80%;
}

.services--item--price {
    background-color: var(--headfoot-background);
    color: var(--primary-color);
    width: 120%;
    margin-left: -10%;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 0;
}

/* Estilos de la sección Skills */
.skills--container {
    display: flex;
    justify-content: center;
    gap: 10vw;
}

.skills--item {
    text-align: center;
    margin: 20px;
}

.skills--item--title {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.skills--item--level {
    font-size: 1em;
    color: var(--text-color);
    margin: 5px 0;
}

.skills--item--progress {
    width: 20vw;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.skills--item--bar {
    height: 100%;
    background-color: var(--text-color);
    border-radius: 5px;
    transition: width 2s ease, background-color 2s ease-in-out;
}

/* Estilos de la sección Opinions */
.opinions--title {
    margin-bottom: 100px;
}

.opinions--list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center
}

/* Estilos para las Opinions card */
.opinions--item {
    width: 190px;
    height: 254px;
    background: #f5f5f5;
    overflow: visible;
    box-shadow: 0 5px 20px 2px var(--box-shadow-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.opinions--item--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 0 1rem;
}

.opinions--item--image {
    --size: 100px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transform: translateY(-50%);
    background-image: url(../Src/Img/hero-bg.jpg);
    background-size: 170%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all .3s ease-in-out;
}

.opinions--item--image::before {
    content: "";
    border-radius: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);
    border: 1rem solid var(--background-color);
}

.opinions--item--image img {
    width: calc(100% - 20px);
    margin-top: 16%;
    border-radius: 10px;
}

/* Estilo para el texto de las opiniones */
.opinions--item--content--name {
    text-transform: uppercase;
    font-size: 0.75em;
    color: var(--link-color);
    letter-spacing: 0.05rem;
}

.opinions--item--content--comment {
    font-size: .8em;
    text-align: center;
    color: #6f6d78;
    font-weight: 400;
    font-style: italic;
}

/* Hover de las Opinions Cards */
.opinions--item:hover .opinions--item--image {
    --size: 110px;
    width: var(--size);
    height: var(--size);
}

/* Estilos de la sección contacto */
.contact--form {
    background-color: var(--headfoot-background);
    width: 60vw;
}

.contact--form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: white;
    border-radius: 20px;
    box-shadow: 0 5px 20px 2px var(--box-shadow-color);
}

.contact--form label {
    margin-bottom: 10px;
    font-weight: bold;
}

.contact--form input,
.contact--form textarea {
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 110%;
    color: var(--headfoot-background);
}

.contact--form button {
    background-color: var(--headfoot-background);
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.contact--form button:hover {
    background-color: var(--secondary-color);
    color: var(--headfoot-background);
}


/* Estilos para el footer */
.footer {
    background-color: var(--headfoot-background);
    color: #fff;
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer--container {
    text-align: center;
}

.footer--social img {
    width: 2vw;
    height: 2vw;
    margin: 0 10px;
    transition: all 0.5s ease;
}

.footer--social img:hover {
    width: 2.3vw;
    height: 2.3vw;
}

.footer--nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer--nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-weight: bold;
    font-size: 1vw;
    transition: color 0.5s ease;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 1000px) {
    header{
        opacity: 98%;
        height: 5vh;
    }

    .title{
        font-size: 100%
    }

    .menu__nav__list{
        opacity: 0;
        visibility: hidden;
        display: flex;
        position: fixed;
        top: 6.95vh;
        left: 0%;
        flex-direction: column;
        width: 90%;
        font-size: 20px;
        text-align: center;
        transition: all 1s ease;
    }

    .menu__nav__list__link {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--background-color);
    }

    .menu__nav__list__link:nth-child(7) {
        border-bottom: none;
    }

    .menu__nav__list__link a{
        font-size: 100% !important;
        text-align: center;
    }

    .menu--toggle--input {
        opacity: 0;
    }
      
    .menu--toggle--label {
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        transition-duration: .5s;
    }
      
    .menu--toggle--bars {
        width: 100%;
        height: 4px;
        background-color: var(--background-color);
        border-radius: 4px;
    }
      
    .menu--toggle--bars:nth-of-type(2) {
        transition-duration: .8s;
    }
      
    .menu--toggle--bars:nth-of-type(1), .menu--toggle--bars:nth-of-type(3) {
        width: 70%;
    }
      
    .menu--toggle--input:checked + .menu--toggle--label .menu--toggle--bars {
        position: absolute;
        transition-duration: .5s;
    }
      
    .menu--toggle--input:checked + .menu--toggle--label .menu--toggle--bars:nth-of-type(2) {
        transform: scaleX(0);
        transition-duration: .5s;
    }
      
    .menu--toggle--input:checked + .menu--toggle--label .menu--toggle--bars:nth-of-type(1) {
        width: 100%;
        transform: rotate(45deg);
        transition-duration: .5s;
    }
      
     .menu--toggle--input:checked + .menu--toggle--label .menu--toggle--bars:nth-of-type(3) {
        width: 100%;
        transform: rotate(-45deg);
        transition-duration: .5s;
     }
      
    .menu--toggle--input:checked + .menu--toggle--label {
        transition-duration: .5s;
        transform: rotate(180deg);
     }

    .menu--toggle--input:checked ~ .menu__nav__list{
        visibility: visible; 
        opacity: 100%;
    }

    .menu--toggle--input:checked ~ .menu__nav__list{
        display: flex; 
    }

    .hero{
        background-position: right;
        justify-content: center;
    }

    .hero--image{
        display: none;
    }

    .hero--content{
        margin: 0;
        margin-top: 50vh;
    }

    .hero--content--github img{
        width: 20vw;
        height: 20vw;
        margin: 0;
    }

    .aboutme--container{
        flex-direction: column-reverse;
    }

    .aboutme--text{
        font-size: 70%;
        margin: 0;
    }

    .aboutme--image img{
        margin: 0;
        margin-left: -80%;
    }

    .works--item--img{
        margin-top: -3%;
    }

    .opinions--item{
        margin-bottom: 20%;
    }

    .footer{
        justify-content: center;
    }

    .footer--nav{
        display: none;
    }

    .footer--social img{
        width: 4vw;
        height: 4vw;
    }

}

/* Mejora de estilo para tablets */
@media screen and (max-width: 1000px) and (min-width: 750px) {
    .menu__nav__list{
        top: 6.5vh;
        width: 95% !important;
    }
}