:root {
    --font-family: 'Arial', sans-serif;
    --primary-color: #fff;
    --secondary-color: #ffd700;
    --background-color: #f2f2f2;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --text-color: #333;
    --link-color: #42caff;
    --hover-color: #e81aff;
    --headfoot-background: #333;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    margin-top: 0;
    scroll-behavior: smooth;
}


section {
    padding: 50px 0;
    text-align: center;
    background-color: var(--background-color);
    padding: 100px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    scroll-behavior: smooth;
    position: fixed;
    top: 0;
    width: 100%;
    color: var(--primary-color);
    padding: 20px 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 1s ease;
    align-items: center;
}

.title {
    font-size: 2vw;
    margin-left: 2%;
    align-items: center;
}

.menu__nav {
    display: flex;
    justify-content: center;
    margin-right: 2%;
}

.menu__nav__list {
    list-style: none;
    display: flex;
}

.menu__nav__list__link {
    margin-right: 20px;
}

.menu__nav__list__link a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.2vw;
    transition: color 0.3s ease;
}

.menu__nav__list__link a:hover {
    color: var(--secondary-color);
}

.hero {
    background-image: url(../Src/Img/hero-bg.jpg);
    background-size: cover;
    color: var(--primary-color);
    padding: 50px 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hero--content {
    margin-top: 10%;
}

.hero--image {
    margin-top: 5%;
}

.hero--content--name {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero--content--profession {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.hero--content--github {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('ruta/a/tu/imagen/github.png') no-repeat;
    text-indent: -9999px;
}

.hero--image img {
    width: 40vw;
    height: auto;
}

.aboutme--container {
    text-align: center;
}

.aboutme--title {
    font-size: 2em;
    margin-bottom: 20px;
}

.aboutme--text {
    font-size: 1.2em;
    line-height: 1.6;
    text-justify: newspaper;
}

/* Estilos de las secciones Works y Services */
.works--item,
.services--item {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px var(--box-shadow-color);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.works--item:hover,
.services--item:hover {
    transform: scale(1.05);
}

.works--item--description,
.services--item--description {
    opacity: 0;
    text-align: center;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
}

.works--item:hover .works--item--description,
.services--item:hover .services--item--description {
    opacity: 1;
}

.services--list, .works--list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilos de la sección works */
.works--item img {
    width: 120%;
    margin-left: -10%;
    margin-top: -7%;
}

/* Estilos de la sección Skills */
.skills--container {
    display: flex;
    justify-content: center;
    gap: 10vw;
}

.skills--item {
    text-align: center;
    margin: 20px;
}

.skills--item--title {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.skills--item--level {
    font-size: 1em;
    color: var(--text-color);
    margin: 5px 0;
}

.skills--item--progress {
    width: 20vw;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.skills--item--bar {
    height: 100%;
    background-color: var(--text-color);
    border-radius: 5px;
    transition: width 2s ease, background-color 2s ease-in-out;
}

/* Opinions */
.opinions--title {
    margin-bottom: 100px;
}

.opinions--list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center
}

/* Opinions Magic card */
.opinions--item {
    width: 190px;
    height: 254px;
    background: #f5f5f5;
    overflow: visible;
    box-shadow: 0 5px 20px 2px var(--box-shadow-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.opinions--item--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 0 1rem;
}

.opinions--item--image {
    --size: 100px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transform: translateY(-50%);
    background-image: url(../Src/Img/hero-bg.jpg);
    background-size: 170%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all .3s ease-in-out;
}

.opinions--item--image::before {
    content: "";
    border-radius: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);
    border: 1rem solid var(--background-color);
}

/* Text */
.opinions--item--content--name {
    text-transform: uppercase;
    font-size: 0.75em;
    color: var(--link-color);
    letter-spacing: 0.05rem;
}

.opinions--item--content--comment {
    font-size: .8em;
    text-align: center;
    color: #6f6d78;
    font-weight: 400;
    font-style: italic;
}

/* Hover */
.opinions--item:hover .opinions--item--image {
    --size: 110px;
    width: var(--size);
    height: var(--size);
}



.contact--form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contact--form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact--form input,
.contact--form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contact--form button {
    background-color: var(--headfoot-background);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact--form button:hover {
    background-color: var(--secondary-color);
    color: var(--headfoot-background);
}

.footer {
    background-color: var(--headfoot-background);
    color: #fff;
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer--container {
    text-align: center;
}

.footer--social img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.footer--nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer--nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-weight: bold;
}
